*{
	margin: 0;
	padding: 0;
}
.ol-zoom{
	top: 6.5em;
    left: .5em;
}
.editWrap{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}
.editWrap img{
	height: 37px;
	width: auto;
	cursor: pointer;
}
.editWrap .editBox{
	padding-bottom: 10px;
	background: rgba(255,255,255,1);
	font-size: 12px;
	color: #333;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 2px rgba(0,127,226,0.37), 0 0 12px rgba(0,127,226,0.37);
    box-shadow: 0 0 2px rgba(0,127,226,0.37), 0 0 12px rgba(0,127,226,0.37);

}
.rotate{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.editBox:before, .editBox:after{
  content: "";
  display: table;
  clear: both;
}
.editBox:after{
	clear: both;
}
.editBox{
	display: none;
}
.editBox > div{
	float: left;
	/*padding: 10px;*/
	box-sizing: border-box;

}
.codeEditBox{
	width: 50%;

}
.colorEditBox, .consoleEditBox{
	width: 25%;
}
.codeEdit{
	background: transparent;
	width: 100%;
	min-height: 300px;
	font-family: Arial, Helvetica, sans-serif;
}
.title{
	background: #409EFF;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.colorEdit, .consoleEdit{
	min-height: 260px;
	border: 1px solid rgb(169, 169, 169);

}
.confirmBtn{

    padding: 5px 10px;
    background: #409EFF;
    border: 0;
    color: #fff;
    cursor: pointer;
}