
.tabs{margin-bottom:100px;float:left;width:100%}

[role="tablist"]
{margin:0;float:left;width:100%; line-height: 18px;
background-color: #498AF3;}

[role="presentation"]{display:inline-block;float:left;list-style:none}

[role="tab"]{
  padding-top:2px; 
  padding-bottom:1px; 
  padding-left: 16px;
  padding-right: 16px;
  float:left;}

[role="tab"][aria-selected="true"],[role="tab"]:focus{background-color:#f4f4f4}

[role="tabpanel"][aria-hidden="false"]{padding:10px;float:left;width:100%;border:1px solid #eee}


[role="tabpanel"][aria-hidden="true"]{display:none}

.tabs2 {
 
      position: relative;
      margin: 0px;
      width: 100%;
      height: 100%;

    }

.tabs__section {
  padding-top: 24px;
  height: 100%;
}

.tabs__navigation {
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 1px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #498AF3;
}

.tabs__link {
  display: inline-block;
  border: 1px solid #ddd;
  text-decoration: none;
  padding: .1rem .75rem;
  color: #B3B3B3;
  background: #E7E7E7;
  margin-left: .25rem;
}

.tabs__link:first-child {
  margin-left: 0;
}

.tabs__link--active {
  font-weight: bold;
  border-bottom-color: #fff;
  background: #fff;
  color: #186baa;
}